.head {
    position:sticky;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
    padding:1px 20px;
    height:6vh;
    background-color:mistyrose;
}
.one {
    color: black;
}
.link {
    text-decoration: none;
    text-align: center;
}
.name {
    font-size:20px;
    color:black;
}